body {
    font-family: 'M PLUS 1 Code', sans-serif;
    background-color: #142f48;
}
.screen_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}
#three_title, #second_title, #title {
    font-size: 50px;
    font-weight: normal;
    color: white;
}
#three_data, #second_data, #data {
    color: white;
    font-size: 40px;
    margin-bottom: 1%;
    font-weight: lighter;
}
#second_output, #output {
    color: white;
    font-size: 40px;
    margin-bottom: 5%;
    font-weight: normal;
    letter-spacing: 20px;
}
#three_preparation_data, #second_preparation_data, #preparation_data {
    padding: 20px 40px;
    border-radius: 6px;
    border: none;
    font-size: 18px;
    background-color: #f5c1f0;
    color: #142f48;
    transition: all .5s;
    cursor: pointer;
}
#three_preparation_data:hover, #second_preparation_data:hover, #preparation_data:hover {
    background-color: #e953da;
    box-shadow: #f5c1f0 0 0 25px 0;
    transition: all .5s;
}
.input_wrapper {
    display: flex;
    align-items: center;
}
.input_wrapper span {
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-right: 10px;
}
#second_screen_input, #screen_input {
    font-size: 20px;
    border-radius: 6px;
    border: none;
    padding: 8px 12px;
    outline: none;
}
.second {
    width: 900px;
    line-break: anywhere;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data_example_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.three_description {
    color: white;
}
#data_example, #three_output{
    max-width: 20%;
    width: 100%;
    color: white;
}
